.img-card{
    box-shadow: 3px 3px 10px 3px #b1afaf;
    background: #fff;
}


.card-text h2{
    color: rgb(52, 52, 131);
}
.card-text p{
    color: rgb(136, 159, 187);
    font-weight: bolder;
}

.tour-card img{
    transition: .9s;
    cursor: pointer;
}
.tour-card img:hover{
    transform: rotate(30deg);
}