.banner-carousel{
    height: 950px;
   }
 .banner-content{
    margin-bottom: 35vh;
 }

 .banner-content h1{
     font-size: 50px;
     color: rgb(11, 207, 207);
 }
 .banner-content h3{
     font-size: 40px;
     color: rgb(32, 51, 42);
 }
 .banner-content button {
     font-size: 20px;
     color: blueviolet;
     font-weight: 7000;
     padding: 15px 20px;
 }





 @media screen and (max-width: 900px) {
    .banner-carousel{
        height: auto;
       }
     .banner-content{
        margin-bottom: 0;
     }
    
   
}


